.nextText {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 33px;
    height: 32px;
    background-image: url("../images/controls.png");
    background-position: 53px 0px;
    z-index: 10000;
}

.nextText:hover {
    background-position: 53px 31px;
}

.previousText {
    position: fixed;
    top: 80px;
    left: 20px;
    width: 33px;
    height: 31px;
    background-image: url("../images/controls.png");
    background-position: 0px 0px;
    z-index: 10000;
}

.previousText:hover {
    background-position: 0px 31px;
}

.active .button {
    background-position: 62px -20px;
}

.active .button:hover {
    background-position: 62px -28px;
}


.button {
    margin: 5px;
    float: left;
    width: 7px;
    height: 7px;
    background-image: url("../images/controls.png");
    background-position: 62px -12px;
}

.button:hover {
    background-position: 62px -4px;
}

.sliderImage {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #f2f1f1;
}

.bx-custom-pager {
    overflow: auto;
    width: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
