<div id="header" class="activeHeader" ng-app="app">
    <div class="center">
        <div id="navigation">
            <ul>
                <li ng-click="directiveScroll()">O NAS</li>
                <li id="nekaj">PONUDBA</li>
                <li>PRODAJNA MESTA</li>
                <li>KONTAKT</li>
            </ul>
        </div>
    </div>
</div>-

<div class="slider-wrapper">
    <div slider="sliderList"></div>
    <div class="asset-slider-wrapper">
        <ul class="asset-slider" slider>
            <li ng-repeat="asset in sliderList track by asset.id"
                backgr-img="{{asset.picture}}"
                on-finish-render="ngRepeatFinished"
                class="sliderImage"
            >
                <div class="title">{{asset.title}}</div>
            </li>
        </ul>
    </div>
</div>

<!-- PAGE CONTENT -->
<div>
<ul id="content">
    <li id="about">
        <div class="center">
            <h2>O NAS</h2>
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
        </div>
    </li>
    <li id="offer">
        <div class="center">
            <h2>PONUDBA</h2>
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
        </div>
    </li>
    <li id="sell">
        <div class="center">
            <h2>PRODAJNA MESTA</h2>
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
        </div>
    </li>
    <li id="contact">
        <div class="center">
            <h2>KONTAKT</h2>
            Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani Vsebina strani
        </div>
    </li>
</ul>
</div>-
<a ng-click="scrollTo('bottom')" ng-controller="scrollToCtrl" id="top">click me</a>
<a ng-click="scrollTo('bottomer')" ng-controller="scrollToCtrl">click me</a>

<div style='height:2000px'></div>
<h1 id="bottom">hello this is bottom</h1>
<div style='height:2000px'></div>
<h1 id="bottomer">
    hello this is bottomer.<br>
    <a ng-click="scrollTo('top')" ng-controller="jumpToCtrl" id="top">Go top</a>
</h1>
